.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin-rght{
    position: absolute;
    background-color: aquamarine;
    color:black;
padding:20px;
width: 180px;
height:90px;
background-color: aquamarine;
}
.button{
    margin-left: 50px;

    width:180px;
}